@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(#7d5fff,#7158e2);
    font-family: "roboto" ,"sans-serif";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.search{
    position: relative;
    height: 50px;
}
.search input{
  background-color: #fff;
  height: 50px;
  width: 50px;
  font-size: 18px;
  border: 0;
  transition: width 0.3s ease;
  padding: 10px;
}
.btn{
   background-color: #fff;
   border: 0;
   font-size: 24px;
   height: 50px; 
   width: 50px;
   left: 0; 
   top: 0;
   position: absolute;
   cursor: pointer; 
  transition: width 0.3s ease;
}
.btn:focus,
.input:focus{
 outline: none;
}
.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(198px);
}